
  .echipe2{
    float: right;
    width: 100px;
    padding: auto;
    
}
.echipe{
  font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding: 5px;
    font-size: 30px;
}
.echipemic{
  font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding: 5px;
    font-size:20px;
}
.echipe1{
  padding: auto;

}