.container { 
    position:relative;
  }
  .video {
    z-index: 0;
    object-fit:cover;
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
  }
  .overlay {
      position:absolute;
      top:50%;
      z-index:1;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .btnstart{
    border: 3px solid rgb(255, 255, 255); 
    border-radius: 10px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    display: block;
    color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin:30px auto;
    }
    .btnstart:hover{
      color: rgb(0, 255, 157);;
      border: 3px solid rgb(0, 255, 157);
      transition: 0.5s;
    }
  .h2over{
    font-size: 70px;
    color: #eee;
    text-align: center;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  }
  .h3over{
    font-size: 40px;
    color: #eee;
    text-align: center;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  }
.gradient{
    position:absolute;
     bottom: 0;
     z-index:1;
    left: 0;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to top,rgb(0, 0, 0), rgba(255,0,0,0) );
  }
  .h3_sectiunea1{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 50px;
  }